USE [W_GnBD]
if (5 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVMEM_CODMEM__', 'codmem', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'movmem', 'MOVMEM_CODMEM__', 'mov';
end
GO
if (25 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVMOVIE_CODMOVIE', 'codmovie', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu MOV_411
SELECT 'MOVMOVIE_E0ADF9B1B65F4482', 'realease_date', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB lookup F_FAVORIMOVIETITLE
SELECT 'MOVMOVIE_0626E8A7411F4D0F', 'title', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'movmovies', 'MOVMOVIE_CODMOVIE', 'mov';
end
GO
if (6 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERLOGIN_CODPSW__', 'codpsw', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup PSW
SELECT 'MOVPSW_E5C6A013AE8447A4', 'nome', 0, 1, 0, 0
UNION ALL
SELECT 'MOVPSW_E5C6A013AE8447A4','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userlogin', 'USERLOGIN_CODPSW__', 'mov';
end
GO
if (10 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESS_CODASCPR', 'codascpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocess', 'ASYNCPROCESS_CODASCPR', 'mov';
end
GO
if (9 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'codsigna', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationemailsignature', 'NOTIFICATIONEMAILSIGNATURE_CODSIGNA', 'mov';
end
GO
if (8 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'NOTIFICATIONMESSAGE_CODMESGS', 'codmesgs', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'notificationmessage', 'NOTIFICATIONMESSAGE_CODMESGS', 'mov';
end
GO
if (24 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVCHARA_CODCHARA', 'codchara', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu MOV_31
SELECT 'MOVCHARA_30C94B9669DC48D8', 'createat', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu MOV_4211
SELECT 'MOVCHARA_A0866B852059429A', 'movieid', 0, 1, 0, 0
UNION ALL
-- Index with origin: Menu MOV_4211
SELECT 'MOVCHARA_A0866B852059429A', 'createat', 0, 2, 0, 0

exec CheckIdxTmp @tabela, 'movcharacters', 'MOVCHARA_CODCHARA', 'mov';
end
GO
if (11 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSARGUMENT_CODARGPR', 'codargpr', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessargument', 'ASYNCPROCESSARGUMENT_CODARGPR', 'mov';
end
GO
if (12 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'codpranx', 1, 1, 0, 1
 
exec CheckIdxTmp @tabela, 'asyncprocessattachments', 'ASYNCPROCESSATTACHMENTS_CODPRANX', 'mov';
end
GO
if (7 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'USERAUTHORIZATION_CODUA___', 'codua', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'MOVS_UA_9C30CC17CD844DE9', 'naodupli', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup S_UA
SELECT 'MOVS_UA_9C30CC17CD844DE9', 'role', 0, 2, 0, 0
UNION ALL
SELECT 'MOVS_UA_9C30CC17CD844DE9','zzState', 0, 0, 1, 0

exec CheckIdxTmp @tabela, 'userauthorization', 'USERAUTHORIZATION_CODUA___', 'mov';
end
GO
if (19 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVUSERP_CODUSERP', 'coduserp', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu MOV_511
SELECT 'MOVUSERP_1B493B63AE324070', 'email', 0, 1, 0, 0
UNION ALL
-- Index with origin: DB lookup F_FAVORIUSERPNAME
SELECT 'MOVUSERP_17E48C6A2EF8446C', 'name', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'movuserprofile', 'MOVUSERP_CODUSERP', 'mov';
end
GO
if (14 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVCOMME_CODCOMME', 'codcomme', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Menu MOV_541
SELECT 'MOVCOMME_D782455B50B74BBC', 'createat', 0, 1, 0, 0
UNION ALL
-- Index with origin: DP F_MOVIESPSEUDDATACOME
SELECT 'MOVCOMME_3F4A5CB9DC2941C9', 'codmovie', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'movcomments', 'MOVCOMME_CODCOMME', 'mov';
end
GO
if (2 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVFAVOR_CODFAVOR', 'codfavor', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup FAVOR
SELECT 'MOVFAVOR_F48F9A82D2A84F08', 'coduserp', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup FAVOR
SELECT 'MOVFAVOR_F48F9A82D2A84F08', 'movieid', 0, 2, 0, 0
UNION ALL
SELECT 'MOVFAVOR_F48F9A82D2A84F08','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula SR MOVIE
SELECT 'MOVFAVOR_16E779973F874447', 'movieid', 0, 1, 0, 0
UNION ALL
SELECT 'MOVFAVOR_16E779973F874447','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu MOV_21
SELECT 'MOVFAVOR_D82724E21AAE4BCE', 'favorite_at', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'movfavorites', 'MOVFAVOR_CODFAVOR', 'mov';
end
GO
if (19 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
set nocount on
DECLARE @tabela as IndexCheckType;

 INSERT INTO @tabela (idxName, columnName, uniqueIdx, ordem, include, pk)
SELECT 'MOVRATTI_CODRATTI', 'codratti', 1, 1, 0, 1
 UNION ALL
-- Index with origin: Tabela NotDup RATTI
SELECT 'MOVRATTI_A0208EDE14BD49C6', 'codmovie', 0, 1, 0, 0
UNION ALL
-- Index with origin: Tabela NotDup RATTI
SELECT 'MOVRATTI_A0208EDE14BD49C6', 'coduserp', 0, 2, 0, 0
UNION ALL
SELECT 'MOVRATTI_A0208EDE14BD49C6','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Formula UV MOVIE
SELECT 'MOVRATTI_F91FF46656BE4FA7', 'codmovie', 0, 1, 0, 0
UNION ALL
-- Index with origin: Formula UV MOVIE
SELECT 'MOVRATTI_F91FF46656BE4FA7', 'codratti', 0, 2, 0, 0
UNION ALL
SELECT 'MOVRATTI_F91FF46656BE4FA7','zzState', 0, 0, 1, 0
UNION ALL
-- Index with origin: Menu MOV_551
SELECT 'MOVRATTI_A288334545A14CE8', 'ratedat', 0, 1, 0, 0

exec CheckIdxTmp @tabela, 'movratting', 'MOVRATTI_CODRATTI', 'mov';
end
GO

if (25 > isnull((select versindx from MOVcfg),0) or 'W_GnZeroTrue'='1')
begin
-- Indíces de tabelas hardcoded (continuam da forma antiga [apagar e criar])
if (exists(select top 1 name from sys.indexes where name = 'movalerta_alerta01'))
	DROP INDEX movalerta_alerta01 ON movalerta
CREATE INDEX movalerta_alerta01 ON movalerta (codaltent)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit01'))
	DROP INDEX movpostit_postit01 ON movpostit
CREATE INDEX movpostit_postit01 ON movpostit (tabela,codtabel)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit02'))
	DROP INDEX movpostit_postit02 ON movpostit
CREATE INDEX movpostit_postit02 ON movpostit (codtabel)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit03'))
	DROP INDEX movpostit_postit03 ON movpostit
CREATE INDEX movpostit_postit03 ON movpostit (postit)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit04'))
	DROP INDEX movpostit_postit04 ON movpostit
CREATE INDEX movpostit_postit04 ON movpostit (tpostit)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit05'))
	DROP INDEX movpostit_postit05 ON movpostit
CREATE INDEX movpostit_postit05 ON movpostit (codpsw)


if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit06'))
	DROP INDEX movpostit_postit06 ON movpostit
CREATE INDEX movpostit_postit06 ON movpostit (nivel)

if (exists(select top 1 name from sys.indexes where name = 'movpostit_postit07'))
	DROP INDEX movpostit_postit07 ON movpostit
CREATE INDEX movpostit_postit07 ON movpostit (codpost1)

if (exists(select top 1 name from sys.indexes where name = 'movaltent_altent01'))
	DROP INDEX movaltent_altent01 ON movaltent
CREATE INDEX movaltent_altent01 ON movaltent (codtalert,tipo)

if (exists(select top 1 name from sys.indexes where name = 'movdelega_delega01'))
	DROP INDEX movdelega_delega01 ON movdelega
CREATE INDEX movdelega_delega01 ON movdelega (coddelega,codpswup)

if (exists(select top 1 name from sys.indexes where name = 'movdelega_delega02'))
	DROP INDEX movdelega_delega02 ON movdelega
CREATE INDEX movdelega_delega02 ON movdelega (coddelega,codpswdw)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums01'))
	DROP INDEX docums_docums01 ON docums
CREATE INDEX docums_docums01 ON docums (documid,versao)

if (exists(select top 1 name from sys.indexes where name = 'docums_docums02'))
	DROP INDEX docums_docums02 ON docums
CREATE INDEX docums_docums02 ON docums (nome)


if (exists(select top 1 name from sys.indexes where name = 'docums_docums03'))
	DROP INDEX docums_docums03 ON docums
CREATE INDEX docums_docums03 ON docums (tabela,ZZSTATE)

if (exists(select top 1 name from sys.indexes where name = 'movlstusr_codpsw'))
	DROP INDEX movlstusr_codpsw ON movlstusr
CREATE INDEX movlstusr_codpsw ON movlstusr (codpsw, descric)

if (exists(select top 1 name from sys.indexes where name = 'movlstcol_codlstusr'))
	DROP INDEX movlstcol_codlstusr ON movlstcol
CREATE INDEX movlstcol_codlstusr ON movlstcol (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'movlstren_codlstusr'))
	DROP INDEX movlstren_codlstusr ON movlstren
CREATE INDEX movlstren_codlstusr ON movlstren (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'movusrwid_codlstusr'))
	DROP INDEX movusrwid_codlstusr ON movusrwid
CREATE INDEX movusrwid_codlstusr ON movusrwid (codlstusr)

if (exists(select top 1 name from sys.indexes where name = 'movtblcfg_codpsw_uuid_name'))
	DROP INDEX movtblcfg_codpsw_uuid_name ON movtblcfg
CREATE INDEX movtblcfg_codpsw_uuid_name ON movtblcfg (codpsw, uuid, name)

if (exists(select top 1 name from sys.indexes where name = 'movtblcfg_codpsw_uuid'))
	DROP INDEX movtblcfg_codpsw_uuid ON movtblcfg
CREATE INDEX movtblcfg_codpsw_uuid ON movtblcfg (codpsw, uuid)


if (exists(select top 1 name from sys.indexes where name = 'logmovall_logmovall01'))
	DROP INDEX logmovall_logmovall01 ON logmovall
CREATE CLUSTERED INDEX [logmovall_logmovall01] ON [dbo].[logMOVall]([LOGTABLE] ASC, [LOGFIELD] ASC, [OP] ASC,[DATE] ASC) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]


UPDATE MOVcfg set versindx = 25
end
GO