USE [W_GnBD]
ALTER TABLE [dbo].[MOVFAVORITES] WITH NOCHECK ADD CONSTRAINT [FK_MOVFAVORITES_MOVIEID_MOVMOVIES_CODMOVIE] FOREIGN KEY([MOVIEID]) REFERENCES [dbo].[MOVMOVIES] ([CODMOVIE])
ALTER TABLE [dbo].[MOVFAVORITES] NOCHECK CONSTRAINT [FK_MOVFAVORITES_MOVIEID_MOVMOVIES_CODMOVIE]

ALTER TABLE [dbo].[MOVFAVORITES] WITH NOCHECK ADD CONSTRAINT [FK_MOVFAVORITES_CODUSERP_MOVUSERPROFILE_CODUSERP] FOREIGN KEY([CODUSERP]) REFERENCES [dbo].[MOVUSERPROFILE] ([CODUSERP])
ALTER TABLE [dbo].[MOVFAVORITES] NOCHECK CONSTRAINT [FK_MOVFAVORITES_CODUSERP_MOVUSERPROFILE_CODUSERP]

ALTER TABLE [dbo].[MOVCHARACTERS] WITH NOCHECK ADD CONSTRAINT [FK_MOVCHARACTERS_MOVIEID_MOVMOVIES_CODMOVIE] FOREIGN KEY([MOVIEID]) REFERENCES [dbo].[MOVMOVIES] ([CODMOVIE])
ALTER TABLE [dbo].[MOVCHARACTERS] NOCHECK CONSTRAINT [FK_MOVCHARACTERS_MOVIEID_MOVMOVIES_CODMOVIE]

ALTER TABLE [dbo].[USERAUTHORIZATION] WITH NOCHECK ADD CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW] FOREIGN KEY([CODPSW]) REFERENCES [dbo].[USERLOGIN] ([CODPSW])
ALTER TABLE [dbo].[USERAUTHORIZATION] NOCHECK CONSTRAINT [FK_USERAUTHORIZATION_CODPSW_USERLOGIN_CODPSW]

ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSARGUMENT] NOCHECK CONSTRAINT [FK_ASYNCPROCESSARGUMENT_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] WITH NOCHECK ADD CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR] FOREIGN KEY([CODS_APR]) REFERENCES [dbo].[ASYNCPROCESS] ([CODASCPR])
ALTER TABLE [dbo].[ASYNCPROCESSATTACHMENTS] NOCHECK CONSTRAINT [FK_ASYNCPROCESSATTACHMENTS_CODS_APR_ASYNCPROCESS_CODASCPR]

ALTER TABLE [dbo].[MOVCOMMENTS] WITH NOCHECK ADD CONSTRAINT [FK_MOVCOMMENTS_CODMOVIE_MOVMOVIES_CODMOVIE] FOREIGN KEY([CODMOVIE]) REFERENCES [dbo].[MOVMOVIES] ([CODMOVIE])
ALTER TABLE [dbo].[MOVCOMMENTS] NOCHECK CONSTRAINT [FK_MOVCOMMENTS_CODMOVIE_MOVMOVIES_CODMOVIE]

ALTER TABLE [dbo].[MOVCOMMENTS] WITH NOCHECK ADD CONSTRAINT [FK_MOVCOMMENTS_CODUSERP_MOVUSERPROFILE_CODUSERP] FOREIGN KEY([CODUSERP]) REFERENCES [dbo].[MOVUSERPROFILE] ([CODUSERP])
ALTER TABLE [dbo].[MOVCOMMENTS] NOCHECK CONSTRAINT [FK_MOVCOMMENTS_CODUSERP_MOVUSERPROFILE_CODUSERP]

GO
