*{userauthorization}*
GO
USE [W_GnBD]
GO
*{asyncprocessattachments}*
GO
USE [W_GnBD]
GO
*{asyncprocessargument}*
GO
USE [W_GnBD]
GO
*{movfavorites}*
GO
USE [W_GnBD]
GO
*{movcomments}*
GO
USE [W_GnBD]
GO
*{movcharacters}*
GO
USE [W_GnBD]
GO
*{movuserprofile}*
GO
USE [W_GnBD]
GO
*{notificationmessage}*
GO
USE [W_GnBD]
GO
*{notificationemailsignature}*
GO
USE [W_GnBD]
GO
*{asyncprocess}*
GO
USE [W_GnBD]
GO
*{userlogin}*
GO
USE [W_GnBD]
GO
*{movmovies}*
USE [W_GnBD]
update [movmovies] set
     [numberoflikes] = + (select isnull(sum(source.[CODFAVOR]),0) from [movfavorites] as source where [movmovies].[codmovie] = source.[movieid] and source.zzstate = 0)
GO
USE [W_GnBD]
GO
*{movmem}*
GO
USE [W_GnBD]
GO
