-- Delete all stored procedures that start with Genio.
-- This is needed because previous changes to the procedure signature keep the old versions active,
-- which can pass unnoticed very easily in existing applications
DECLARE @deleteSql NVARCHAR(MAX) = '';
SELECT @deleteSql += 'DROP PROCEDURE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + '.' + QUOTENAME(name) + ';' + CHAR(13)
FROM sys.procedures
WHERE name LIKE 'genio_%';

USE [W_GnBD]
EXEC sp_executesql @deleteSql;
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MEM
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- MEM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MEM
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MEM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MEM @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MEM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- MOVIE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_MOVIES
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MOVIE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [movmovies] set
     [numberoflikes] = + (select isnull(count(*),0) from [movfavorites] as source where [movmovies].[codmovie] = source.[movieid] and source.zzstate = 0)
     ,[totalrate] = + (select isnull(count(*),0) from [movratting] as source where [movmovies].[codmovie] = source.[codmovie] and source.zzstate = 0)
     ,[sumavg] = + (select isnull(sum(source.[RATE]),0) from [movratting] as source where [movmovies].[codmovie] = source.[codmovie] and source.zzstate = 0)
where ([movmovies].[codmovie] = @x OR @x IS NULL)

-- UV
--Last value
update [movmovies] set [lastrate] = tmptab1.[rate] from [movmovies] inner join (select tmpFromTab.[CODMOVIE], max(tmpFromTab.[codratti]) as uData from [movratting] as tmpFromTab  group by tmpFromTab.[CODMOVIE]) as tmptab2 on [movmovies].[codmovie] = tmptab2.[codmovie] inner join [movratting] as tmptab1 on [movmovies].[codmovie] = tmptab1.[codmovie] where tmptab1.[codratti] = tmptab2.uData
AND ([movmovies].[codmovie] = @x OR @x IS NULL)
--Clean last value
update [movmovies] set [lastrate] = NULL where not exists(select [src].[codmovie] from [movratting] [src] group by [src].[CODMOVIE])
AND ([movmovies].[codmovie] = @x OR @x IS NULL)
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [movie]
SET [movie].[averagerate] =[movie].[sumavg]/[movie].[totalrate]
FROM [movmovies] AS [movie]

 where ([movie].[codmovie] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- MOVIE
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_MOVIES
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de MOVIE
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR
update [movmovies] set
     [numberoflikes] = + (select isnull(count(*),0) from [movfavorites] as source where [movmovies].[codmovie] = source.[movieid] and source.zzstate = 0)
     ,[totalrate] = + (select isnull(count(*),0) from [movratting] as source where [movmovies].[codmovie] = source.[codmovie] and source.zzstate = 0)
     ,[sumavg] = + (select isnull(sum(source.[RATE]),0) from [movratting] as source where [movmovies].[codmovie] = source.[codmovie] and source.zzstate = 0)
where ([movmovies].[codmovie] in (select item from @x))

-- UV
--Last value
update [movmovies] set [lastrate] = tmptab1.[rate] from [movmovies] inner join (select tmpFromTab.[CODMOVIE], max(tmpFromTab.[codratti]) as uData from [movratting] as tmpFromTab  group by tmpFromTab.[CODMOVIE]) as tmptab2 on [movmovies].[codmovie] = tmptab2.[codmovie] inner join [movratting] as tmptab1 on [movmovies].[codmovie] = tmptab1.[codmovie] where tmptab1.[codratti] = tmptab2.uData
AND ([movmovies].[codmovie] in (select item from @x))
--Clean last value
update [movmovies] set [lastrate] = NULL where not exists(select [src].[codmovie] from [movratting] [src] group by [src].[CODMOVIE])
AND ([movmovies].[codmovie] in (select item from @x))
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [movie]
SET [movie].[averagerate] =[movie].[sumavg]/[movie].[totalrate]
FROM [movmovies] AS [movie]

 where ([movie].[codmovie] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_MOVIES @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for MOVIE
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [movie] set
	[NUMBEROFLIKES] = COALESCE([movie].[NUMBEROFLIKES], 0)
 ,	[AVERAGERATE] = COALESCE([movie].[AVERAGERATE], 0)
 ,	[TOTALRATE] = COALESCE([movie].[TOTALRATE], 0)
 ,	[SUMAVG] = COALESCE([movie].[SUMAVG], 0)
 ,	[LASTRATE] = COALESCE([movie].[LASTRATE], 0)
	FROM [movmovies] AS [movie]

	WHERE ([movie].[codmovie] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserLogin
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- PSW
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserLogin
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de PSW
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserLogin @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for PSW
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [psw] set
	[ATTEMPTS] = COALESCE([psw].[ATTEMPTS], 0)
 ,	[STATUS] = COALESCE([psw].[STATUS], 0)
	FROM [userlogin] AS [psw]

	WHERE ([psw].[codpsw] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcess
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_APR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcess
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_APR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_apr]
SET [s_apr].[finished] =(case when ([s_apr].[status]=''T'' or [s_apr].[status]=''AB'' or [s_apr].[status]=''C'') then 1 else 0 end)
FROM [asyncprocess] AS [s_apr]

 where ([s_apr].[codascpr] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcess @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_APR
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_apr] set
	[PERCENTA] = COALESCE([s_apr].[PERCENTA], 0)
	FROM [asyncprocess] AS [s_apr]

	WHERE ([s_apr].[codascpr] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationEmailSignature
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NES
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationEmailSignature
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NES
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationEmailSignature @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NES
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_NotificationMessage
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_NM
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_NotificationMessage
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_NM
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_NotificationMessage @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_NM
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- CHARA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_CHARACTERS
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CHARA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- CHARA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_CHARACTERS
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de CHARA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_CHARACTERS @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for CHARA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [chara] set
	[CREATEAT] = COALESCE([chara].[CREATEAT], dateadd(dd, datediff(dd,0, getDate()), 0))
	FROM [movcharacters] AS [chara]

	WHERE ([chara].[codchara] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessArgument
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_ARG
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessArgument
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessArgument @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_ARG
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_AsyncProcessAttachments
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- S_PAX
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_AsyncProcessAttachments
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_AsyncProcessAttachments @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_PAX
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_UserAuthorization
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] = @x OR @x IS NULL)
END')
GO
-----------------------------------------------------------
-- S_UA
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_UserAuthorization
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de S_UA
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
-- Layer 0
update [s_ua]
SET [s_ua].[naodupli] =dbo.KeyToString([s_ua].[codpsw])+[s_ua].[modulo]
,[s_ua].[nivel] =dbo.GetLevelFromRole(0,[s_ua].[role])
FROM [userauthorization] AS [s_ua]

 where ([s_ua].[codua] in (select item from @x))
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_UserAuthorization @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for S_UA
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [s_ua] set
	[NIVEL] = COALESCE([s_ua].[NIVEL], 0)
	FROM [userauthorization] AS [s_ua]

	WHERE ([s_ua].[codua] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- USERP
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_USERPROFILE
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de USERP
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- USERP
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_USERPROFILE
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de USERP
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_USERPROFILE @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for USERP
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- COMME
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_COMMENTS
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COMME
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- COMME
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_COMMENTS
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de COMME
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_COMMENTS @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for COMME
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [comme] set
	[CREATEAT] = COALESCE([comme].[CREATEAT], dateadd(dd, datediff(dd,0, getDate()), 0))
	FROM [movcomments] AS [comme]

	WHERE ([comme].[codcomme] in (select item from @x))
END')
GO
-----------------------------------------------------------
-- FAVOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_FAVORITES
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de FAVOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- FAVOR
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_FAVORITES
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de FAVOR
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_FAVORITES @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for FAVOR
-----------------------------------------------------------
SET NOCOUNT ON;

END')
GO
-----------------------------------------------------------
-- RATTI
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_Calc_RATTING
@x VARCHAR(50) = NULL
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de RATTI
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
-----------------------------------------------------------
-- RATTI
-----------------------------------------------------------
USE [W_GnBD]
EXEC('
CREATE PROCEDURE dbo.Genio_CalcBlock_RATTING
@x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Recalcular o registo x de RATTI
-----------------------------------------------------------
SET NOCOUNT ON;
-----------------------------------------------------------
-- Formulas externas podem ser calculadas primeiro e de forma agregada
-----------------------------------------------------------
-- SR

-- UV
-----------------------------------------------------------
-- Formulas internas podem depender umas das outras
-----------------------------------------------------------
END')
GO
EXEC('
CREATE PROCEDURE dbo.Genio_Default_RATTING @x KeyListType READONLY
AS BEGIN
-----------------------------------------------------------
-- Defaults for RATTI
-----------------------------------------------------------
SET NOCOUNT ON;

UPDATE [ratti] set
	[RATE] = COALESCE([ratti].[RATE], 0)
	FROM [movratting] AS [ratti]

	WHERE ([ratti].[codratti] in (select item from @x))
END')
GO
