USE [W_GnBD]
DECLARE @nextcod bigint

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVCHARACTERS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVCHARACTERS', coalesce(cast((select max(codchara) from MOVCHARACTERS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codchara) from MOVCHARACTERS) as bigint) + 1, 1) where id_objecto = 'MOVCHARACTERS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVCOMMENTS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVCOMMENTS', coalesce(cast((select max(codcomme) from MOVCOMMENTS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codcomme) from MOVCOMMENTS) as bigint) + 1, 1) where id_objecto = 'MOVCOMMENTS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVFAVORITES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVFAVORITES', coalesce(cast((select max(codfavor) from MOVFAVORITES) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codfavor) from MOVFAVORITES) as bigint) + 1, 1) where id_objecto = 'MOVFAVORITES'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVMOVIES')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVMOVIES', coalesce(cast((select max(codmovie) from MOVMOVIES) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmovie) from MOVMOVIES) as bigint) + 1, 1) where id_objecto = 'MOVMOVIES'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserLogin')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserLogin', coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpsw) from UserLogin) as bigint) + 1, 1) where id_objecto = 'UserLogin'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVRATTING')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVRATTING', coalesce(cast((select max(codratti) from MOVRATTING) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codratti) from MOVRATTING) as bigint) + 1, 1) where id_objecto = 'MOVRATTING'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'AsyncProcessAttachments')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('AsyncProcessAttachments', coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codpranx) from AsyncProcessAttachments) as bigint) + 1, 1) where id_objecto = 'AsyncProcessAttachments'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codua) from UserAuthorization) as bigint) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVUSERPROFILE')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVUSERPROFILE', coalesce(cast((select max(coduserp) from MOVUSERPROFILE) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(coduserp) from MOVUSERPROFILE) as bigint) + 1, 1) where id_objecto = 'MOVUSERPROFILE'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVMEM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVMEM', coalesce(cast((select max(CODMEM) from MOVMEM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODMEM) from MOVMEM) as bigint) + 1, 1) where id_objecto = 'MOVMEM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVCFG', coalesce(cast((select max(CODCFG) from MOVCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODCFG) from MOVCFG) as bigint) + 1, 1) where id_objecto = 'MOVCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVUSRSET')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVUSRSET', coalesce(cast((select max(CODUSRSET) from MOVUSRSET) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRSET) from MOVUSRSET) as bigint) + 1, 1) where id_objecto = 'MOVUSRSET'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVUSRCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVUSRCFG', coalesce(cast((select max(CODUSRCFG) from MOVUSRCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRCFG) from MOVUSRCFG) as bigint) + 1, 1) where id_objecto = 'MOVUSRCFG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWKFACT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWKFACT', coalesce(cast((select max(CODWKFACT) from MOVWKFACT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFACT) from MOVWKFACT) as bigint) + 1, 1) where id_objecto = 'MOVWKFACT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWKFCON')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWKFCON', coalesce(cast((select max(CODWKFCON) from MOVWKFCON) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFCON) from MOVWKFCON) as bigint) + 1, 1) where id_objecto = 'MOVWKFCON'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWKFLIG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWKFLIG', coalesce(cast((select max(CODWKFLIG) from MOVWKFLIG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLIG) from MOVWKFLIG) as bigint) + 1, 1) where id_objecto = 'MOVWKFLIG'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWKFLOW')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWKFLOW', coalesce(cast((select max(CODWKFLOW) from MOVWKFLOW) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODWKFLOW) from MOVWKFLOW) as bigint) + 1, 1) where id_objecto = 'MOVWKFLOW'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVNOTIFI')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVNOTIFI', coalesce(cast((select max(CODNOTIFI) from MOVNOTIFI) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODNOTIFI) from MOVNOTIFI) as bigint) + 1, 1) where id_objecto = 'MOVNOTIFI'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVSCRCRD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVSCRCRD', coalesce(cast((select max(CODSCRCRD) from MOVSCRCRD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODSCRCRD) from MOVSCRCRD) as bigint) + 1, 1) where id_objecto = 'MOVSCRCRD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVPOSTIT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVPOSTIT', coalesce(cast((select max(CODPOSTIT) from MOVPOSTIT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPOSTIT) from MOVPOSTIT) as bigint) + 1, 1) where id_objecto = 'MOVPOSTIT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVPRMFRM')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVPRMFRM', coalesce(cast((select max(CODPRMFRM) from MOVPRMFRM) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRMFRM) from MOVPRMFRM) as bigint) + 1, 1) where id_objecto = 'MOVPRMFRM'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVALERTA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVALERTA', coalesce(cast((select max(CODALERTA) from MOVALERTA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALERTA) from MOVALERTA) as bigint) + 1, 1) where id_objecto = 'MOVALERTA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVALTENT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVALTENT', coalesce(cast((select max(CODALTENT) from MOVALTENT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODALTENT) from MOVALTENT) as bigint) + 1, 1) where id_objecto = 'MOVALTENT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVTALERT')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVTALERT', coalesce(cast((select max(CODTALERT) from MOVTALERT) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTALERT) from MOVTALERT) as bigint) + 1, 1) where id_objecto = 'MOVTALERT'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVDELEGA')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVDELEGA', coalesce(cast((select max(CODDELEGA) from MOVDELEGA) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODDELEGA) from MOVDELEGA) as bigint) + 1, 1) where id_objecto = 'MOVDELEGA'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVLSTUSR')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVLSTUSR', coalesce(cast((select max(CODLSTUSR) from MOVLSTUSR) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTUSR) from MOVLSTUSR) as bigint) + 1, 1) where id_objecto = 'MOVLSTUSR'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVLSTCOL')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVLSTCOL', coalesce(cast((select max(CODLSTCOL) from MOVLSTCOL) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTCOL) from MOVLSTCOL) as bigint) + 1, 1) where id_objecto = 'MOVLSTCOL'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVLSTREN')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVLSTREN', coalesce(cast((select max(CODLSTREN) from MOVLSTREN) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODLSTREN) from MOVLSTREN) as bigint) + 1, 1) where id_objecto = 'MOVLSTREN'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVUSRWID')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVUSRWID', coalesce(cast((select max(CODUSRWID) from MOVUSRWID) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUSRWID) from MOVUSRWID) as bigint) + 1, 1) where id_objecto = 'MOVUSRWID'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVTBLCFG')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVTBLCFG', coalesce(cast((select max(CODTBLCFG) from MOVTBLCFG) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTBLCFG) from MOVTBLCFG) as bigint) + 1, 1) where id_objecto = 'MOVTBLCFG'

if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'HASHCD')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('HASHCD', coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codHASHCD) from HASHCD) as bigint) + 1, 1) where id_objecto = 'HASHCD'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'DOCUMS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('DOCUMS', coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codDOCUMS) from DOCUMS) as bigint) + 1, 1) where id_objecto = 'DOCUMS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'UserAuthorization')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('UserAuthorization', coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODUA) from UserAuthorization) as int) + 1, 1) where id_objecto = 'UserAuthorization'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWORKFLOWPROCESS')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWORKFLOWPROCESS', coalesce(cast((select max(CODPRCESS) from MOVWORKFLOWPROCESS) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODPRCESS) from MOVWORKFLOWPROCESS) as bigint) + 1, 1) where id_objecto = 'MOVWORKFLOWPROCESS'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'MOVWORKFLOWTASK')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('MOVWORKFLOWTASK', coalesce(cast((select max(CODTASK) from MOVWORKFLOWTASK) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODTASK) from MOVWORKFLOWTASK) as bigint) + 1, 1) where id_objecto = 'MOVWORKFLOWTASK'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationEmailSignature')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationEmailSignature', coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codsigna) from NotificationEmailSignature) as bigint) + 1, 1) where id_objecto = 'NotificationEmailSignature'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'NotificationMessage')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('NotificationMessage', coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(codmesgs) from NotificationMessage) as bigint) + 1, 1) where id_objecto = 'NotificationMessage'
if not exists (select id_objecto from Codigos_Sequenciais where id_objecto = 'ReportList')
	insert into Codigos_Sequenciais (id_objecto, proximo) values ('ReportList', coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1))
else
	update Codigos_Sequenciais set proximo = coalesce(cast((select max(CODREPORT) from ReportList) as bigint) + 1, 1) where id_objecto = 'ReportList'
GO
 