IF((SELECT COUNT(1) FROM MOVcfg) = 0)
	INSERT INTO MOVcfg (codcfg, checkdat, versao, versindx, manutdat, upgrindx, zzstate) VALUES ('     1', GETDATE(), 2512, 0, NULL, 0, 0)
ELSE
  UPDATE MOVcfg set versao = 2512;
GO
